body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.header {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  display: display;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
}

.header-heading {
  font-size: 45px;
  color: white;
}

.header-dates {
  font-size: 30px;
  color: violet;
}

.header-description {
  font-size: 25px;
  color: white;
}

.learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.learn-more-btn {
  background-color: violet;
  color: white;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 120px;
  border-radius: 10px;
}

.learn-more-btn:hover {
  background-color: white;
  color: violet;
  border: 1px solid violet;
}

.faq-block {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.faq-centered {
  max-width: 60%;
}

.faq {
  margin-bottom: 10px;
}

.faq-question {
  font-size: 20px;
  font-weight: bold;
}

.faq-answer {
  font-size: 16px;
}

.container-video {
  background-color: #191635;
  text-align: center;
  padding: 30px 50px 30px 50px;
}

.description-video {
  color: white;
}

.footer {
  text-align: center;
  width: 100%;
}

.quote-footer {
  color: #191635;
  font-size: 20px;
  padding: 30px 50px;
}

.author-footer {
  color: black;
  font-size: 16px;
  padding-bottom: 30px;
}

.copyright-footer {
  background-color: #191635;
  color: violet;
  padding-top: 20px;
  padding-bottom: 20px;
}
